@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";
@import "vendor/rfs.scss";

.movie-card {
  background-color: $bg-color-primary;
  border: 1px solid $bg-color-primary;
  margin-bottom: 1.5rem;
  box-shadow: $shadow;
  border-radius: 15px;

  & &__content {
    background-color: #fff;
  }

  & &__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-primary;
    border-radius: 0 15px 15px 0;

    .movie-card__poster {
      height: auto;
      width: 100%;
    }
  }

  & &__title {
    @include font(
            $font-size: 18pt
    );
  }

  & &__subtitle {
    @include font(
            $font-size: 12pt,
            $font-weight: $thin,
            $font-style: italic,
    );
  }
  & &__pencil-icon {
    cursor: pointer;
    width: 20px;
  }
}

.movie-card__body {

  .body__item {
    flex: 0 1 20%;
  }

  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-primary;
    @include font(
            $font-weight: $thin,
            $font-size: 10pt
    );
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(
            $font-weight: $light,
            $font-size: 11pt
    );
  }
}
