<!-- Button trigger modal -->
<!--
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movie-popup">
  Launch demo modal
</button>
-->

<!-- Modal -->
<div class="modal fade"
     id="editMovieModal"
     tabindex="-1"
     aria-labelledby="editMovie"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal__icon-wrapper" data-bs-dismiss="modal">
          <img class="modal__icon" src="assets/images/X_icon.svg" alt="close popup" width="10" height="10"/>
        </div>
        <form [formGroup]="editMovieForm">
          <div class="form__header">
            <h1 class="form__header-title">Editing</h1>
          </div>
          <div class="form-group row">
            <label for="minutes-input" class="offset-sm-1 col-sm-3 col-form-label form__label">
              Is adult
            </label>
            <div class="col-sm-8 form__checkbox-wrapper">
                <span class="form-check form__checkbox">
                  <input
                    class="form-check-input"
                    formControlName="isAdult"
                    type="checkbox"
                    id="form__checkbox-yes">
                  Yes
                </span>
                <span class="form-check form__checkbox">
                  <input
                    class="form-check-input"
                    formControlName="isAdult"
                    type="checkbox"
                    id="form__checkbox-no">
                  No
                </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="minutes-input" class="offset-sm-1 col-sm-3 col-form-label form__label">Minutes</label>
            <div class="col-sm-8">
              <input type="text"
                formControlName="minutes"
                class="form-control"
                id="minutes-input"
                [value]="movie.runtimeMinutes">
            </div>
          </div>
          <div class="form-group row">
            <label for="start-year-input" class="offset-sm-1 col-sm-3 col-form-label form__label">Start year</label>
            <div class="col-sm-8">
              <!-- <select class="form-select" id="start-year-input">
                <option>--</option>
              </select> -->
              <input type="text"
                formControlName="startYear"
                class="form-control"
                id="start-year-input"
                [value]="movie.startYear">
            </div>
          </div>
          <div class="form-group row">
            <label for="end-year-input" class="offset-sm-1 col-sm-3 col-form-label form__label">End year</label>
            <div class="col-sm-8">
              <!-- <select class="form-select" id="end-year-input">
                <option>--</option>
              </select> -->
              <input type="text"
                formControlName="endYear"
                class="form-control"
                id="end-year-input"
                [value]="movie.endYear">
            </div>
          </div>
          <div class="form-group row">
            <label for="genres-input" class="offset-sm-1 col-sm-3 col-form-label form__label">Genres</label>
            <div class="col-sm-8">
            <!--  <select class="form-select" id="genres-input">
                <option>--</option>
              </select> -->
              <input type="text"
                formControlName="genres"
                class="form-control"
                id="genres-input"
                [value]="movie.genres">
            </div>
          </div>
          <div class="row form-group">
            <div class="offset-sm-2 col-sm-10 popup-button">
              <button type="button" class="btn popup-button-ok">OK</button>
              <button type="button" class="btn popup-button-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
