<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <a class="logo navbar-brand" href="#">
    <img class="logo__image d-inline-block align-top" src="assets/images/logo.svg" alt="logo">
  </a>
  <div class="search-form">
    <form>
      <div class="search-form__inner">
        <div class="search-form__input">
          <input class="form-control form-control-sm" [formControl]="searchTerm" type="text"
            placeholder="Search a movie..." />
          <button class="search-form__button" type="button">
            <img class="" src="assets/images/icon_magnify.svg" alt="search button" />
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="flag my-2 my-lg-0">
    <span class="flag__item">
      <img class="flag__image" src="assets/images/flag_usa.svg" alt="usa flag" />
    </span>
    <span class="flag__item">
      <img class="flag__image" src="assets/images/flag_fr.svg" alt="france flag" />
    </span>
  </div>
</nav>

<ng-template #loading>
  <div class="row container">
    Loading...
  </div>
</ng-template>

<div class="row content" *ngIf="movies$ | async as uiModel; else loading">

    <div class="mt-4">
      <div class="row">
        <div class="col-xs-12 col-md-4" *ngFor="let movie of uiModel.movies">
          <app-movie-item [movie]="movie"></app-movie-item>
        </div>
      </div>
    </div>
    <app-movie-pagination
      [totalPages]="uiModel.totalPages"
      [currentPage]="uiModel.currentPage">
    </app-movie-pagination>
</div>
