@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

.content {
  margin-right: .5rem;
}

.navbar {
  background-image: $gradiant-primary;
  padding: 0;
  .logo {
    padding-left: 10px;
  }
  .flag {
    background-color: transparent;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../../../../../assets/images/icon_magnify_white.svg");
  background-size: 70%;
}

.search-form {
  justify-content: flex-start;
  padding-top: 14px;
  width: 50%;

  & &__inner {
    width: 100%;
    margin-bottom: 17px;
  }

  & &__input {
    width: 100%;
    position: relative;

    input {
      @include font(
        $font-size: 12pt,
        $font-weight: $thin,
        $font-style: italic
      );
      border-radius: 0;
    }
  }

  .search-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}

.navbar__left .spacer {
  display: none;
}

@media(max-width: 575px) {
  .navbar__left .spacer {
    display: block;
    flex: 1 1 auto;
  }
}
