@import "vendor/rfs.scss";

@mixin font(
  $font-size,
  $font-weight: $regular,
  $font-style: normal,
) {
  font-style: $font-style;
  font-weight: $font-weight;
  @include font-size(rem($font-size))
}
