$color-primary: #000000;
$icon-pencil-color: #4a4a4a;
$bg-color-primary: #f3f3f3;

$gradiant-top: #494848;
$gradiant-primary: linear-gradient($gradiant-top, $color-primary);

$gray_9b: #9b9b9b;

$font-primary: 'Roboto', sans-serif;
$regular: 400;
$medium: 500;
$light: 300;
$thin: 100;

$shadow: 0 0 11px 0 #e6e6e6;
